<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="images/card.png" type="image/png">
    <link rel="stylesheet" href="style.css">
    <title>Ghana Card Search</title>
</head>


    <nav>
        <p class="gc">Ghana Card Search and Details</p>
        <div class="navbar">
            <a href="Search.html">Search</a>
            <a href="upload.html">Entry</a>
        </div>
        
    </nav>
    

    <!-- Container to center the details -->
    <div class="content">
        <div class="details">
            <img class="name" src="images/upload.png" alt="Upload Ghana Card">
            <p><a href="upload.html">Upload Card Details</a></p>
      </div>
 

        <div class="details">
            <img class="name" src="images/search.png" alt="Search Ghana Card">
            <p>Search for Card</p>
        </div>

    </div>
    
        


</html>
